body{
  background-color: #3b3939;
}
.App{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  flex-wrap: wrap;
}
.Counter{
  margin: 100px auto 0 auto;
  width: 250px;
  max-height: 250px;
  background-color: darkgray;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
}
.Display{
  margin: auto;
  width: 220px;
  height: 120px;
  background-color: #3b3939;
  border-radius: 15px;
}
.SettingDisplay{
  margin: 0 auto 45px auto;
  width: 220px;
  height: 120px;
  background-color: #3b3939;
  border-radius: 15px;
  box-sizing: border-box;
}
.Display div{
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
}
.White{
  color: white;
}
.Red {
  color: red;
}
.Buttons{
  display: flex;
  margin: 15px auto 20px auto;
  width: 100px;
  background-color: #3b3939;
  border-radius: 15px;
  padding: 10px 20px 10px 10px;
}
.ButtonColor {
  background-color: #3b3939;
  color: white;
  margin-left: 10px;
}
.ErrorMessage {
  padding-left: 20px;
  width: 100px;
  margin: 10px auto;
  color: red;
}
.Setting{
  margin: 100px auto 0 auto;
  width: 250px;
  max-height: 250px;
  background-color: darkgray;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
}
.ValueText{
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  display: flex;
}
.Value{
  width: 100px;
}
.ValueText input{
  margin-top: 5px;
  margin-left: 30px;
  width: 50px;
  text-align: center;

}
.SetButton{
  margin: auto;
}